body {
	margin: 0px;
	font-family: Monospace;
	background-color: #f0e9ed;
}

#box{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	position: absolute;
	background-color: white;
	border-radius: 15px;
	box-shadow: 7px 10px #d9d9d9;

}

#up {
	padding: 20px;
	margin: 0px;
	background-color: plum;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
} 


h2 {
	margin-top: 0px;
}

form {
	margin: 20px;
}

a {
	color: orchid;
}

button {
	width: 100px;
	height: 50px;
	background-color: plum;
	border-radius: 10px;
	border-width: 0px;
}